<!doctype HTML>
<HTML>
	<head>
		<meta charset="UTF-8">
		<title>{{{pageTitle}}}</title>
		<link rel="stylesheet" href="main.css" type="text/css">
		<!-- To keep mobile devices from skewing format-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<style>
			@viewport {
			  width: device-width ;
			  zoom: 1.0 ;
			}

			img {
				max-height: 200px;
			}

			td {
				text-align: center;
			}

			div {
				background-color: #d9d9d9;
				width: 50%;
				border-radius: 10px;
				margin-top:10px;
				padding:10px;
			}

			#gameboard {
				background-color: green;
				color: white;
			}

			input[type="submit"] {
				margin-top:5px;
			}

			/* Phone portrait (iPhone 7 = 667; Plus=736)*/
			@media only screen and (max-width: 736px){
				div{
					width: 95%;
				}
			}
		</style>
		
	</head>
	<body>
		<center>
		<a href="http://iamthweatt.com">Return to Home</a>
		<br>
		
		{{{body}}}
	
		</center>
	</body>
</HTML>
