<h2>Welcome to Higher or Lower</h2>
<p>Select the start button below when you are ready to begin the game</p>

<form method="POST">
	<input type="submit" name="newgame" value="Start Game">
</form>